@font-face {
    font-family: 'Akira Expanded';
    src: url("assets/fonts/akira.otf") format("opentype");
}

@font-face {
    font-family: 'Artifakt Element';
    src: url("assets/fonts/ArtifaktElement-Regular.woff.ttf") format("truetype");
}

h1,h2{
    font-family: 'Akira Expanded';
}

.logo{
    font-family: 'Akira Expanded';
    font-size: 45px;
}

.fa{
    font-size: 30px;
    color: #fff;
}

.letter-spacing{
    /* letter-spacing: 35px; */
}

.letter-spacing1{
    letter-spacing: 2px;
    font-family: 'Akira Expanded';
    font-weight: normal;
}

.roadmap-point{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #fff;
    border-radius : 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.roadmap-point img{
    width: 25px;
}

.garis{
    border-left: 2px solid #fff;
    height: 220px;
    width: 0;
    z-index: -100;
    position: absolute;
    left: 50%;
    transform: translateX(3px);
}

.roadmap .col-5{
    /* height: 220px; */
}

.roadmap .col-2{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.pl-20{
    padding-left: 20px;
}

#footer i{
    font-size: 150px;
}

@media (max-width: 750px) {
    #footer i{
        font-size: 50px;
    }
}

a{
    text-decoration: none;
}